<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
   <meta charset="utf-8">
   <title>Civvi</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- theme meta -->
   <meta name="theme-name" content="godocs-bulma" />

   <!-- ** Plugins Needed for the Project ** -->
   <!-- plugins -->
   <link rel="stylesheet" href="plugins/bulma/bulma.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
   <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
   <!-- <link rel="stylesheet" href="bower_components/themify-icons/themify-icons.css" /> -->
   <!-- Main Stylesheet -->
   <link href="/css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="/css/specific-style.css">

   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>


   <!-- banner -->
   <section class="hero is-large" class="fill">
      <img src="https://i.imgur.com/ni2IVGj.jpg" style="object-fit: contain; object-position: center;" class="is-fullwidth is-overlay">
      <div class="container">   
         <div class="hero-body" style="color: rgba(97, 80, 122. 0.4);">
            <p class="title is-size-2" style="color:whitesmoke">
            Engage with democracy
            </p>
            <p class="subtitle is-size-6" style="color:whitesmoke">
            Search and save congressional committees
            </p>
         </div>
      </div>
</section>
   <!-- /banner -->

   



   <!-- faq -->
   <section class="section pb-4 my-4">
      <div class="container">
         <h2 class="section-title pb-4 my-4" style="color:whitesmoke">FAQ</h2>
         <div class="columns masonry-wrapper">
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg is-shadowless">
                  <div class="card-body" style="background-color: #61507A; ">
                     <h3 class="card-title h5" style="color:white;">When does a congressional session start?</h3>
                     <p class="card-text content" style="color:white;">
                     In 1933, following a long reform effort to modernize the congressional schedule, the nation ratified the Constitution’s
                     Twentieth Amendment, setting January 3 as the annual meeting date for Congress. Known as the “Lame Duck Amendment,” this
                     change shortened the period between election and start of service for members of Congress and set a schedule better
                     suited to the needs of the modern Congress.
                     </p>
                  </div>
               </div>
            </div>
               <div class="column is-6-desktop">
                  <div class="card card-lg is-shadowless">
                     <div class="card-body" style="background-color: #61507A; ">
                        <h3 class="card-title h5" style="color:white;">How many congressional legislators are there?</h3>
                        <p class="card-text content" style="color:white;">
                        There are a total of 535 Members of Congress. Since there are 2 senators to every state, 100 serve in the U.S. Senate. The House roster is based on each state's population, so 435 people serve in the U.S. House of
                        Representatives. California holds the most representatives with 51! 
                        </p>
                     </div>
                  </div>
               </div>
            <div class="column is-6-desktop">
               <div class="card card-lg is-shadowless">
                  <div class="card-body" style="background-color: #61507A; ">
                     <h3 class="card-title h5" style="color:white;">How many bills pass through congress?</h3>
                     <p class="card-text content" style="color:white;">
                        On average, around 15,000 bills pass through a legislative session, but only about 7% of those bills actually become law.
                     </p>
                  </div>
               </div>
            </div>
            <div class="column is-6-desktop">
               <div class="card card-lg is-shadowless">
                  <div class="card-body" style="background-color: #61507A; ">
                     <a href="https://www.youtube.com/watch?v=OgVKvqTItto" target="_blank" rel="noopener noreferrer"><h3 class="card-title h5" style="color:white;">How does a bill become law?</h3></a>
                     <p class="card-text content" style="color:white;">
                        Whew! You sure gotta climb a lot of steps to get to this Capitol Building here in Washington. But I wonder who that sad
                        little scrap of paper is? I'm just a bill. Yes, I'm only a bill. And I'm sitting here on Capitol Hill. Well, it's a
                        long, long journey to the capital city. It's a long, long wait while I'm sitting in committee, but I know I'll be a law
                        some day. At least I hope and pray that I will.
                        But today I am still just a bill. Gee, Bill, you certainly have a lot of patience and courage. Well, I got this far.
                        When I started I wasn't even a bill, I was just an idea. Some folks back home decided they wanted a law passed, so they
                        called their local Congressman, and he said “You're right, there oughta be a law.” Then he sat down and wrote me out and
                        introduced me to Congress. And I became a bill, and I'll remain a bill, until they decide to make me a law. I'm just a
                        bill. Yes I'm only a bill, and I got as far as Capitol Hill. Well, now I'm stuck in committee and I'll sit here and wait
                        while a few key Congressmen discuss and debate whether they should let me be a law. How I hope and pray that they will,
                        but today I am still just a bill. Listen to those Congressmen arguing! Is all that discussion and debate about you?
                        Yeah, I'm one of the lucky ones. Most bills never even get this far. I hope they decide to report on me favorably,
                        otherwise I may die. Die? Yeah, die in committee. Ooh, but it looks like I'm gonna live! Now I go to the House of
                        Representatives And they vote on me. If they vote yes, what happens? Then I go to the Senate and the whole thing starts
                        all over again. Oh no! Oh yes! I'm just a bill Yes, I'm only a bill. And if they vote for me on Capitol Hill, well, then
                        I'm off to the White House where I'll wait in a line with a lot of other bills for the president to sign. And if he
                        signs me, then I'll be a law. How I hope and pray that he will, but today I am still just a bill. You mean even if the
                        whole Congress says you should be a law, the president can still say no? Yes, that's called a veto. If the president
                        vetoes me, I have to go back to Congress and they vote on me again. And by that time you're so old. By that time it's
                        very unlikely that you'll become a law. It's not easy to become a law, is it? No! But how I hope and pray that I will,
                        but today I am still just a bill. He signed you, Bill! Now you're a law! Oh yes!!!
                     </p>
                  </div>
               </div>
            </div>
      



   <!-- plugins -->
   <script src="plugins/jQuery/jquery.min.js"></script>
   <script src="plugins/masonry/masonry.min.js"></script>
   <script src="plugins/clipboard/clipboard.min.js"></script>
   <script src="plugins/match-height/jquery.matchHeight-min.js"></script>

   <!-- Main Script -->
   <script src="js/script.js"></script>

</body>

</html>