<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>No Result</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href="plugins/bulma/bulma.min.css">
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>


<section class="section">
   <div class="container">
      <div class="columns is-justify-content-center">
         <div class="column is-8-desktop">
            <h2 class="mb-5 has-text-weight-medium">Search Result<span class="text-primary"></span></h2>
            <div class="p-6 shadow rounded">
               <div class="has-text-centered">
                  <h3><%= data %></h3>
                  <br aria-hidden="true">
                  <a href="/committees/search" class="btn btn-sm btn-outline-primary m1-4">Search again</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



<!-- plugins -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/masonry/masonry.min.js"></script>
<script src="plugins/clipboard/clipboard.min.js"></script>
<script src="plugins/match-height/jquery.matchHeight-min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>